body {
  font-family: Arial, Helvetica, sans-serif;
}

.primary-color {
  background-color: #f81d07;
}

.primary-color-t {
  color: #f81d07;
}

.d-none {
  display: none;
}

.navbar-logo {
  width: 50%;
  height: auto;
}

.navbar-logo2 {
  width: 100%;
}

main {
  background-image: url("../assets/images/background-beachhouse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 70vh;
}

form {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 5px;
  width: 100%;
}

input {
  width: 300px;
}

.description-section i {
  font-size: 48px;
}

.content-section {
  height: 45vh;
}

.bg-1 {
  background-color: #d55345;
}

.bg-2 {
  background-color: #cdcfd6;
}

.bg-3 {
  background-color: #509cd8;
}

.bg-img {
  width: 180px;
  height: 180px;
  border: 1px solid #000;
  border-radius: 150px;
  background-color: white;
}