body {
  font-family: Arial, Helvetica, sans-serif;
}

.primary-color {
  background-color: #f81d07;
}

.primary-color-t {
  color: #f81d07;
}

.d-none {
  display: none;
}

.navbar-logo {
  width: 50%;
  height: auto;
}

.navbar-logo2 {
  width: 100%;
}

main {
  background-image: url("../assets/images/background-beachhouse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 70vh;
}

form {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 5px;
  width: 100%;
}

input {
  width: 300px;
}

.description-section i {
  font-size: 48px;
}

.content-section {
 height: 240px;
}

.bg-1 {
  background-color: #ff2511;
}

.bg-2 {
  background-color: #c0c2c9;
}

.bg-3 {
  background-color: #5eb0ee;
}

.bg-img {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  border-radius: 150px;
  background-color: white;
}

footer {
  background-color: #000;
}

.foot-links {
  width: 70%;
}

.foot-links ul {
  font-size: 12px;
  padding: 10px 0;
}

.foot-links a {
  color: white;
}

.mid-link {
  border-radius: 60%;
}

.mid-link i {
  font-size: 25px;
  width: 25px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .bg-img {
    width: 140px;
    height: 140px;
  }

  .txt-content h5 {
    font-size: 18px;
  }

  .txt-content p {
    font-size: 14px;
  }
}
